@use "./mixins" as *;

#contact {
  form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;

    .formGroup {
    }

    textarea {
      resize: none;

      &:focus-within {
        border: none;
      }
    }
  }
}
